<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rui's Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <link rel="stylesheet" href="css/my-style.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-shield"></i>  Ray Gan
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#profile">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#project">Project</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RAY Gan</h1>
                        <p class="intro-text">Hey there, welcome to my home page<br>You can learn more about me here.</p>
                        <a href="#profile" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="profile" class="container content-section text-center">
        <div class="row">
            <h3 class="c-gold">My profile</h3>
        </div>
        <div class="row">
            <div id="edu" class="col-lg-4">
                <h4>Education experience</h4>
                <div id="usc">
                    <div class="c-gold f-bold">University of Southern California</div>
                    <div>June 2015 ~ May 2017</div>
                    <div>Master of Computer Science</div>
                    <div>GPA: (3.9/4.0)</div>
                </div>
                <div id="neu" class="margin-1 f-bold">
                    <div class="c-gold">Northeastern Univeristy, CN</div>
                    <div>Sep 2013 ~ May 2015</div>
                    <div>Master of Computer Software and Theory</div>
                    <div>GPA: (3.7/4.0)</div>
                </div>
            </div>
            
            
            <div id="social" class="col-lg-4">
                <h4>Learn more about me</h4>
                <div class="col-lg-3 col-lg-offset-2">
                    <span class="my-icon"><i class="fa fa-linkedin"></i></span>
                </div>
                <div class="col-lg-3">
                    <span class="my-icon"><i class="fa fa-github"></i></span>
                </div>
                <div class="col-lg-3">
                    <span class="my-icon"><i class="fa fa-facebook"></i></span>
                </div>
            </div>
            
            <div id="skills" class="col-lg-4">
                <h4>Skills</h4>
                <p>
                    <span class="label">Java</span>
                    <span class="label">HTML</span>
                    <span class="label">JavaScript</span>
                    <span class="label">Data Mining</span>
                </p>
                <p>
                    <span class="label">Python</span>
                    <span class="label">PHP</span>
                    <span class="label">Bootstrap</span>
                    <span class="label">Ajax</span>
                </p>
                <p>
                    <span class="label">JQuery</span>
                    <span class="label">Git</span>
                </p>
            </div>
            
        </div>
    </section>

    
    
    <!-- Project Section -->
    <section id="project" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Some of my Projects</h2>
                    <a target="_blank" href="http://raspberry-env.elasticbeanstalk.com/"><p>1. Weather search website on Amazon AWS</p></a>
                    <p>2. Weather search APP on Android</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <span class="c-gold"><h2>Contact Me</h2></span>
                <p>Feel free to email me anytime</p>
                <p><a href="mailto:ruigan@usc.edu"><i class="fa fa-envelope-o"></i> ruigan@usc.edu</a>
                </p>
            </div>
        </div>
    </section>

<!--
     Map Section 
    <div id="map"></div>
-->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <span class="f-footer">&copy; Rui Gan's Home Page 2016</span>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
