<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/my-style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <!-- Bootstrap Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <title>RAY's Home Page</title>
</head>
<body class="font-white">
<nav class="navbar navbar-default my-font">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar">hahah</span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="default.html">RUI GAN</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a href="http://www.baidu.com">Profile<span class="sr-only">(current)</span></a>
        </li>
          <li><a href="http://www.google.com">Projects</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact Me</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!---------------------------------------------------------------------------------------------->
<div class="container">
    <div class="row">
        <div class="col-sm-4 mid">
<!--
            <div id="head-icon">
                <img class="img-circle" src="img/myself.jpg" width="80px" height="80px">
            </div>
-->
            
            
            <div id="social" class="row well trans">
                <div id="linkedin" class="col-sm-4">
                    <a href="https://www.linkedin.com/in/rui-gan-0b2a78109"><span class="my-icon"><i class="fa fa-linkedin-square"></i></span></a>
                </div>
                <div id="github" class="col-sm-4">
                    <a href="https://github.com/ruigan/"><span class="my-icon"><i class="fa fa-github-square"></i></span></a>
                </div>
                <div id="fb" class="col-sm-4">
                    <a href="https://www.facebook.com/profile.php?id=100009502822944"><span class="my-icon"><i class="fa fa-facebook-square"></i></span></a>
                </div>
            </div>
            
            <div id="skills" class="row well trans">
                <div id="skills-title" class="row">
                    <span><h3>Professional Skills</h3></span>
                </div>
                <div id="skills-detail" class="row small-margin">
                    <span class="label label-pill label-warning my-size">Java</span>
                    <span class="label label-pill label-primary my-size">HTML/JS</span>
                    <span class="label label-pill label-primary my-size">Data Mining</span>
                </div>
                <div id="skills-detail" class="row small-margin">
                    <span class="label label-pill label-primary my-size">Bootstrap</span>
                    <span class="label label-pill label-primary my-size">Python</span>
                    <span class="label label-pill label-primary my-size">Android</span>
                </div>
            </div>
            
            
            
        </div>
        <div class="col-sm-8">
            
            
            
        </div>
    </div>
</div>

<!---------------------------------------------------------------------------------------------->
    
    
    </body>
</html>